In [69]:
import pandas as pd
import numpy as np


path = r"D:/Download/data/"
# datasetName = "lastfm_sample_190617/"
datasetName = r"\lastfm"
trainFile = path + datasetName + r"\train.csv"
validationFile = path + datasetName + r"\validation.csv"
testFile = path + datasetName + r"\test.csv"
train = pd.read_csv(trainFile, header=None)
validation = pd.read_csv(validationFile, header=None)
test = pd.read_csv(testFile, header=None)

train.columns = ["user_id", "loc_id", "count"]
validation.columns = ["user_id", "loc_id", "count"]
test.columns = ["user_id", "loc_id", "count"]

def function01(data, train):
	array = []
	for index, row in data.iterrows():
		temp = [[row['user_id'], row['loc_id'], train]] * row['count']
		array.extend(temp)

	df = pd.DataFrame(array)
	# df = df.sample(frac=0.4, replace=True, random_state=1)
	df.columns = ["user_id", "loc_id", "train"]
	return df

train_df = function01(train,1)
validation_df = function01(validation,1)
test_df = function01(test, 0)

train_validation_df = pd.concat([train_df, validation_df])
# test_df = test_df[test_df['loc_id'].isin(train_validation_df['loc_id'].tolist())]

df = pd.concat([train_validation_df, test_df])

In [85]:
train_user_set = set(train_df['user_id'].tolist())
validation_user_set = set(validation_df['user_id'].tolist())
user_of_interest = train_user_set.intersection(validation_user_set)

train_df_new = train_df[train_df['user_id'].isin(user_of_interest)]
validation_df_new = validation_df[validation_df['user_id'].isin(user_of_interest)]
test_df_new = test_df[test_df['user_id'].isin(user_of_interest)]

In [87]:
# len(train_df_new) + len(validation_df_new) + len(test_df_new)
# len(df)

14992437

In [88]:
new_df = pd.concat([train_df_new, validation_df_new, test_df_new])

In [148]:
a = new_df.groupby('user_id')['loc_id'].count().sort_values(ascending=True).reset_index()
a.columns = ['user_id', 'count']
# a = a[a['count'] >= 100]
# a['count'].sum()
a

     user_id   count
0        606      42
1        534     128
2        502     146
3        696     157
4        452     159
5        643     200
6        224     299
7        297     332
8         35     357
9        148     375
10        56     419
11       545     499
12       675     588
13       273     638
14       235     677
15       559     683
16       602     689
17       520     740
18        47     934
19       268     970
20       636    1005
21       632    1013
22       409    1018
23       444    1061
24       635    1146
25       600    1153
26       140    1161
27       615    1184
28       694    1210
29       402    1355
..       ...     ...
677       49   68700
678      261   68798
679      104   70009
680      477   70599
681      110   70678
682      228   70973
683      421   71009
684      306   73197
685      377   76766
686      556   76880
687      396   77317
688      254   77405
689      586   79312
690       40   80037
691      172   81103
692      318   81475
693      145   84433
694      303   89088
695       25   90318
696      255   96754
697      322  100418
698      562  103441
699      371  107149
700      476  116219
701      200  118561
702      670  120603
703      115  120620
704      603  134821
705      378  140019
706      554  147920

[707 rows x 2 columns]

In [137]:
b = new_df.groupby(['loc_id'])['user_id'].apply(np.unique).apply(lambda x: len(x)).sort_index()

# b = b[b['count'] >= 1000]
# b['count'].sum()
b

loc_id
0          2
1        227
2          1
3        135
4          8
5          8
6         18
7          1
8         28
9         37
10        82
11        47
12        54
13        20
14        10
15       220
16         9
17        23
18         1
19         1
20        35
21        12
22         5
23         3
24        32
25        82
26        10
27        23
28         2
29        13
        ...
15638     33
15639      1
15640      1
15641      1
15642      1
15643      1
15644      7
15645      2
15646      2
15647      2
15648      2
15649      6
15650      3
15651     23
15652     18
15653     21
15654      2
15655      1
15656      4
15657     13
15658     27
15659      4
15660     16
15661      3
15662      1
15663      5
15664      6
15665      1
15666      5
15667      1
Name: user_id, Length: 15668, dtype: int64

In [140]:
d = df.groupby(['loc_id'])['user_id']

In [141]:
d1 = d.apply(np.unique).apply(lambda x: len(x))
d2 = d.count()
d3 = pd.concat([d1, d2], axis=1).reset_index()
d3.columns = ['loc_id', 'unique_count', 'count']

In [151]:
# d3
len(d3[d3['unique_count'] > 10])

9819

In [111]:
c = new_df.groupby('loc_id')['user_id'].count().sort_values(ascending=True).sort_index()
c.columns = ['loc_id', 'count']
c

loc_id
0          215
1         1178
2           82
3          291
4         4768
5         1033
6          134
7          163
8          773
9         2493
10         135
11        1079
12        1843
13        7640
14         325
15       17514
16       18588
17         297
18        5524
19        1264
20        4322
21         375
22         381
23        4378
24       38787
25        1675
26         107
27       26753
28         105
29         941
         ...
15551      340
15552      107
15553      659
15554      117
15555      184
15556      182
15557      184
15558        6
15559      398
15560      110
15561      107
15562      111
15563      115
15564      344
15565      102
15566      124
15567      111
15568      154
15569      216
15570      178
15571      194
15572      160
15573      132
15574      158
15575      105
15576      108
15577      330
15578      160
15579      117
15580      124
Name: user_id, Length: 15581, dtype: int64

In [94]:
loc_df = pd.DataFrame(new_df['loc_id'].unique())
loc_df['index1'] = loc_df.index
loc_df.columns = ['loc_id', 'index1']

user_df = pd.DataFrame(new_df['user_id'].unique())
user_df['index2'] = user_df.index
user_df.columns = ['user_id', 'index2']

In [95]:
new_df = pd.merge(new_df, loc_df, how='inner', left_on=['loc_id'], right_on=['loc_id']) \
	[['user_id', 'index1', 'train']]
new_df = pd.merge(new_df, user_df, how='inner', left_on=['user_id'], right_on=['user_id']) \
	[['index2', 'index1', 'train']]

new_df.columns = ['user_id', 'loc_id', 'train']

In [99]:
new_df = new_df.sample(frac=1, random_state=123).sort_values(by=['user_id', 'train'], ascending=[1, 0])
new_df

         user_id  loc_id  train
11259          0     250      1
548            0      24      1
1506           0      43      1
13117          0   12129      1
4657           0     122      1
4811           0     130      1
5265           0     137      1
7406           0     173      1
4999           0     132      1
8466           0     201      1
6456           0     163      1
9328           0     216      1
3708           0      86      1
6586           0     163      1
13383          0   15499      1
10840          0     242      1
7914           0     190      1
6403           0     163      1
3561           0      84      1
9996           0     238      1
6349           0     163      1
3280           0      78      1
13371          0   15499      1
12906          0    7960      1
1815           0      48      1
2812           0      70      1
5297           0     140      1
2897           0      70      1
3948           0      94      1
1432           0      40      1
...          ...     ...    ...
5005162      706    3687      0
4992226      706      70      0
4994680      706     377      0
5006755      706    5957      0
4995497      706     460      0
4993957      706     315      0
5002263      706    1887      0
5005775      706    4035      0
5003890      706    2346      0
4998605      706     963      0
5005938      706    4116      0
5002972      706    2105      0
4993755      706     303      0
4999096      706    1090      0
5003911      706    2391      0
4992234      706      70      0
5007655      706    6343      0
4994664      706     377      0
5002745      706    2040      0
5005202      706    3729      0
5005794      706    4035      0
4993962      706     315      0
4992840      706     167      0
5007651      706    6343      0
4997229      706     741      0
5002775      706    2040      0
4994344      706     344      0
4998625      706     973      0
5007258      706    6167      0
5007010      706    6092      0

[14992437 rows x 3 columns]

In [ ]:
train_user_set = set(train['user_id'].tolist())
validation_user_set = set(validation['user_id'].tolist())
user_of_interest = train_user_set.intersection(validation_user_set)

train_df_new = train_df[train['user_id'].isin(user_of_interest)]
validation_df_new = validation_df[validation['user_id'].isin(user_of_interest)]
test_df_new = test_df[test_df['user_id'].isin(user_of_interest)]